*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.container{
    background-color: black;
    text-align: center;
    /* text-decoration: underline; */
    /* here we can change because here we've only one text in this project */
}

/* h1{
    text-align: center;
} */

.gallary img{
    height: 200px;
    width: 180px;
    border-radius: 5px;
    transition: 5ms;

}
.gallary img:hover{
    transform: scale(1.1);
}

.gallary{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 10px;
    /* grid-column-gap: 10px ; */
    padding-left: 104UIJpx;
    padding-bottom: 10px;
}
.gallary:hover{
    cursor: pointer;
}
h1{
    padding: 25px 0px;
    animation:blink .8s infinite alternate;
}

/* creating basic animatiojn or simple animation */

@keyframes blink{
    from{
        color: black;
    }
    to{
        color: palevioletred;
    }
}

/* 0px--400px */
@media(max-width:400px){
    .gallary{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 15px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

.gallary img{
    display: block;
    margin: auto;
}

}


/* 400px--600px */
@media(min-width:400px) and (max-width:600px){
    .gallary{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 30px;
        padding-right: 20px;
        padding-bottom: 10px;
}
.gallary img{
    display: block;
    margin: auto;
}
}


/* 600px--800px */
@media (min-width:600px) and (max-width:800px){
    .gallary{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 30px;
        padding-right: 20px;
        padding-bottom: 10px;
}
.gallary img{
    display: block;
    margin: auto;
}
}